<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightQuest</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body data-logged-in="{{#if logged_in}}true{{else}}false{{/if}}">
    <header>
        <h1>FlightQuest</h1>
        <nav id="nav">    
            <ul id="sidebar" class="nav_links">
                <li onclick=hideSidebar()><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="/">Home</a></li>
                {{#if logged_in}}
                <li><a href="/saved-flights">Saved Flights</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
            <ul class="nav_links">
                <li class="hideMobile"><a href="/">Home</a></li>
                {{#if logged_in}}
                <li class="hideMobile"><a href="/saved-flights">Saved Flights</a></li>
                <li class="hideMobile"><a href="/logout">Logout</a></li>
                {{else}}
                <li class="hideMobile"><a href="/login">Login</a></li>
                {{/if}}
                <li class="menu_button" onclick=showSidebar()><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>
        
    </header>

    {{{body}}}

    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/modal.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</body>
</html>
