<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightQuest</title>
    <link rel="stylesheet" href="/assets/css/signup.css">
</head>
<body data-logged-in="{{#if logged_in}}true{{else}}false{{/if}}">
    <header>
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                {{#if logged_in}}
                <li><a href="/saved-flights">Saved Flights</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
        <h1>FlightQuest</h1>
    </header>

    {{{body}}}

    <script src="/assets/js/script.js"></script>
</body>
</html>
