* { 
    margin: 0;
    padding: 0;
}

.saved-flights-container {
    margin-top: 20px;
    text-align: center;
    height: 100vh;
}

.savedFlights {
    background-color: lightgray;
    border-radius: 7px;
    max-width: 500px;
    margin-bottom: 15px;
    list-style-type: none;
}