* { 
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url("../images/homepageBG.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.saved-flights-container {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 37px;
    min-height: 100vh;
}

.cardFlights {
    margin: auto;
}

.savedFlights {
    background-color: lightgray;
    border-radius: 7px;
    max-width: 500px;
    margin: auto;
    list-style-type: none;
}

@media(max-width: 900px) {
    .cardFlights {
        width: 100%;
        margin: auto;
    }
}