/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #eae6ff;
    flex: 1;
}

.search-panel {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    justify-content: center;
}

.search-panel h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.input-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 10px);
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input,
.input-group select,
.passenger-btn {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-btn {
    width: 100%;
    padding: 15px;
    background-color: darkslateblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0056b3;
}

.content-panel {
    width: 90%;
}

.cardsection {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.bookingContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
}

.airlineInfoContainer {
    margin-bottom: 10px;
}

.airlineCode {
    font-size: 18px;
    font-weight: bold;
}

.layOvers {
    font-size: 14px;
    color: #555;
}

.travelInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.departAirport,
.arrivalAirport {
    text-align: center;
    flex: 1;
}

.departAirport .time,
.arrivalAirport .time {
    display: block;
    font-size: 14px;
    color: #777;
}

.separator {
    flex-grow: 1;
    text-align: center;
    color: #555;
    font-size: 14px;
    padding: 0 10px;
}

.flightDuration {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.airfairprice {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
}

.saveButton {
    background-color: darkslateblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.saveButton:hover {
    background-color: #3a0069; /* Darker shade */
}

* {
    margin: 0;
    top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 5%;
    background-color: darkslateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    padding: 0 15px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

header h1 {
    display: inline-block;
    margin: 0 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: inline-end;
    list-style-type: none;
}

header nav li {
    display: inline-block;
    margin-inline-end: 25px;
    font-size: 25px;
}

header nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(19, 38, 161);
}

main {
    padding: 2rem;
    text-align: center;
    flex: 1;
}

.intro {
    margin-bottom: 2rem;
}

.intro h2 {
    font-size: 2rem;
    color: #007bff;
}

.booking-form {
    background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.booking-form h2 {
    margin-bottom: 1rem;
    color: #007bff;
}

.booking-form form {
    display: grid;
    gap: 1rem;
}

.booking-form label {
    font-weight: bold;
}

.booking-form input,
.booking-form button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form button {
    background-color: darkslateblue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: darkslateblue;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Sidebar and navigation */
#sidebar {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    height: 22vh;
    width: calc(30% - 17px);
    z-index: 999;
    background-color: darkslateblue;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#sidebar li {
    width: 100%;
}

#sidebar a {
    width: 100%;
}

/* Hide menu button - should only display on smaller screens */
.menu_button {
    display: none;
}

@media (max-width: 1020px) {
    .menu_button {
        display: block;
    }

    .hideMobile {
        display: none;
    }
    header nav li {
        display: inline-block;
        margin-inline-end: 25px;
        font-size: 25px;
    }
}



/* Search panel styles */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.search-panel {
    width: 94%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-panel h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-btn {
    background-color: darkslateblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Search results styles */
#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 400px) {
    .input-group {
        width: calc(50% - 10px);

    }
    .cardsection{
        width: 100%;
    }
}

#return-date {
    width: 95%;
}